*{
    padding: 0;
    margin: 0;
   
    
}
body{
    background-image: url(/assets/bg.png);
    background-repeat: no-repeat;
    background-size:cover;
   
     padding-bottom:200px;
 
}
.container{
    font-family: Mansard,poppins;
    
    
   
}
.navbar{
 
 padding-top:35px;
 padding-left: 70px;
 padding-bottom: 15px;
    display: flex;
    background: rgb(14,14,14);
    color: #ffffff; 
    font-size: 30px;   
    font-weight: 500;
   
}
.line{
    margin-left: 90px;
    
    height: 50px;
    width: 2px;
    background-color: #ffffff;
    
}
.grow-list{
    margin-top: 15px;
    margin-left: 90px;
    
    
}


.list{
    display: flex;
    gap: 50px;
    
}

.list-item{
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    list-style: none;
    height: 30px;
    width: 120px;
}
.button-small{
    margin-left: 450px;
    margin-top:15px ;
    
    height: 30px;
    width: 120px;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    background-color: #BB0FC5;

}
.hero{
    padding: 200px;
    
}
.hero-heading{
    font-size: 80px;
    color: #ffffff;
    text-align: center;
    padding: 0px 300px 0px 300px;

}
.hero-description{
    font-size: 25px;
    font-weight: 300;
    color: #ffffff;
    text-align: center;
}
.button-large{
    margin-left: 640px;
    margin-top: 50px;
    height: 50px;
    width: 240px;
    font-size: 20px;
    font-weight: 900;
    border: none;
    border-radius: 7px;
    color: #ffffff;
    background-color: #BB0FC5;

}
li:first-child::after {
    content: "  v";
    font-size: 15px;
    

  }